extends layout

append head
    link(rel='stylesheet', href='/stylesheets/friends.css')

append page
    script(src='/js/friendsPage.js')

block content
    div#gameCreation
        ul
            for friend in friends
                li
                    div.name friend.name
                    img(src=friend.picture.data.url)

