extends layout

append head
    link(rel='stylesheet', href='/stylesheets/friends.css')

append page
    script(src='/js/friendsPage.js')

block content
    div#gameCreation
        ul.friendsList
            for item in friends
                include user-item

