doctype 5
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/hang.js')
    script(type="text/javascript")
        H.init("#{pageName}");
  body
    div#bar
        include includes/buttons
    block content