extends layout

append head
    link(rel='stylesheet', href='/stylesheets/start.css')
    meta(property="fb:app_id", content="226112007518642")
    meta(property="og:type", content="hangergame:word")
    meta(property="og:title", content=title)
    meta(property="og:length", content=length)
    meta(property="og:image", content=image)
    meta(property="og:url", content=url)