extends layout

append head
    link(rel='stylesheet', href='/stylesheets/start.css')
    script(src='/js/startPage.js')

block content
    div#gameCreation
        a#startGame(href="javascript:;") Start game
