extends layout

append head
    link(rel='stylesheet', href='/stylesheets/start.css')

append page
    script(src='/js/startPage.js')

block content
    div#gameCreation
        a#startGame(href="/friends") Start game
        ul.itemList
            each item in games
                include user-item
