#gameCreation {
    width: 528px;
    margin: 40px auto;
}

#startGame {
    display: inline-block;
    width:370px;
    padding-left: 150px;
    padding-top: 50px;
    height:40px;
    background: url("/images/list/ButtonStartGameNormal@2x.png") repeat-x;
    color: #AFB225;
    font-size: 40px;
}