#gameCreation {
    width: 90%;
    margin: 40px auto;
}

#startGame {
    display: inline-block;
    width:100%;
    padding: 20px;
    color: #AFB225;
    border: 1px dotted #AFB225;
    border-radius: 10px;
    text-align: center;
}