#gameCreation {
    width: 528px;
    margin: 40px auto;
}

#startGame {
    display: inline-block;
    width:5200px;
    padding-top: 20px;
    height:70px;
    background: url("/images/list/ButtonStartGameNormal@2x.png") repeat-x;
    color: #AFB225;
    font-size: 40px;
    text-align: center;
}