body {
    font: 40px "Trebuchet MS";
    background: url("/images/Background@2x.png") repeat-x;
    margin: 0;
    padding: 0;
}

a {
   color: #AFB225;
   text-decoration: none;
}

#bar {
    height:92px;
    background: url("/images/NavBarBackground@2x.png") repeat-x;
}

#bar #settingsButton, #bar #infoButton {
    width: 64px;
    height: 62px;
    background: url("/images/NavBarBackground@2x.png") repeat-x;
    margin: 15px;
    display: block;
}

#bar #infoButton {
    background: url("/images/list of friends/InfoButtonNormal@2x.png") no-repeat;
    float: left;
}

#bar #settingsButton {
    float: right;
    background: url("/images/list of friends/SettingsButtonNormal@2x.png") no-repeat;
}

#popup {
    display: none;
    position: absolute;
    top:100px;
    width: 90%;
    min-height: 300px;
    background: url("/images/Background@2x.png");
    border-radius: 10px;
    border: 1px dashed #8dcdc1;
    z-index: 101;
}

#popup .close {
    position: absolute;
    display: inline-block;
    right: 9px;
    top: 13px;
    height: 40px;
    width: 40px;
    background: url("/images/close.png");
}

#popup .content {
    text-align: center;
}

#popup .content .button {
    width: 80%;
    margin-top: 30px;
}

#popup .content .button:last {
    margin-bottom: 20px;
}

#popup .title {
    height: 50px;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    background: #eef1e9;
    color: #8dcdc1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#overlay {
    display: none;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    z-index: 100;
}

.button {
    display: inline-block;
    text-align: center;
    background: #f3f1e5;
    width:90%;
    padding: 20px 0;
    border: 1px dotted #AFB225;
    border-radius: 10px;
    margin: 10px;
}

.itemList li {
    list-style: none;
    background: #eef1e9;
    border: 1px solid #AFB225;
    padding: 5px;
}

.itemList li img {
    border-radius: 50px;
    width: 50px;
    friends: 50px;
}
