body {
    font: 14px "Trebuchet MS";
    background: url("/images/Background@2x.png") repeat-x;
}

a {
  color: #AFB225;
}

#bar {
    height:92px;
    background: url("/images/NavBarBackground@2x.png") repeat-x;
}

#bar #settingsButtons, #bar #infoButton {
    width: 64px;
    height: 62px;
    background: url("/images/NavBarBackground@2x.png") repeat-x;
    margin: 15px;
}

#bar #infoButton {
    background: url("/images/list of friends/InfoButtonNormal@2x.png") no-repeat;
    float: left;
}

#bar #settingsButton {
    float: right;
    background: url("/images/list of friends/InfoButtonPressed@2x.png") no-repeat;
}